@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  box-sizing: border-box;
  font-family: 'poppins';
}

body {
  margin: 0;

  background-color: black;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 20px;
}
.pokemon-card-container:hover{
  transform: scale(1.2);
}
.grass-background {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.water-background {
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.normal-background {
  background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

.fire-background {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.ground-background {
  background: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}

.poison-background {
  background: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}

.bug-background {
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.pokemon-image {
  height: 200px;
  width: 200px;
}

.pokemon-id-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-name {
  margin: 0;
  text-decoration: underline;
  margin-top: 20px;
}
h2{
  display: flex;
  justify-content: center;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
button{
  cursor: pointer;
  margin-top: 5px;
  border: none;
}